*{margin: 0; padding: 0}
@import "fonts.scss";
$font: 'FontAwesome'; 
$black: #000000;
$blue: #132B5E;
$oran: #FE743B;
$yellow: #FFEC3D;
html {
    overflow-x: hidden;
}
body {
    box-sizing: border-box;
    color: #333333;
    padding: 0 !important; 
    font-size: 15px;  
    line-height: 1.6;
    transition: .3s all; 
    position: relative;
    font-weight: normal;
    font-family: 'Roboto';
    h1, h2, h3, h4, h5, h6, p, label, ul, li, .card, a { 
        text-decoration: none !important;      
        transition: .3s all; 
        margin-bottom: 0;  
        outline: none !important;  
    }    
    a { 
        transition: .3s all !important; 
        color: #333333;
        &:hover {
            color: $oran;   
        }  
    } 
    ul {    
    	padding: 0; 
    	margin: 0; 
    }   
    input, button {  
    	outline: none !important; 
    	box-shadow: none; 
    	transition: .3s all; 
    }
    .slick-slide {
    	height: auto;  
        img {
            display: inline;
        }
    }
    .container {
        width: 100%;
        max-width: 1300px;
    }
    .container-fluid {
        padding: 0 60px;
    } 
    img {
        max-width: 100%;
    }
}
.slick-slider {
    margin-bottom: 0;
}
.avarta {
    overflow: hidden;
    img { 
        transition: .7s all;
        &:hover {
            transition: .7s all;
            transform: scale(1.08);
        }
    }
}  

header {}
.header-top {
    background: $blue;
    color: #fff;
    font-size: 14px;
    padding: 12px 0;
    a {
        color: #fff;
    }
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        i {
            position: relative;
            margin-right: 10px;
        }
    }
}
.header-menu {
    padding: 10px 0;
    ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px; 
        li {
            padding-left: 30px;
            position: relative;
            &:first-child {
                padding-left: 0;
            }
            ul {
                display: block;
                position: absolute;
                background: #fff;
                z-index: 10;
                width: 200px;
                padding: 10px 15px;
                box-shadow: 0px 0px 12px #ddd;
                transition: .4s all;
                transform: scale(0);
                li {
                    padding-left: 0;
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            &:hover {
                ul {
                    transition: .4s all;
                    transform: scale(1);
                }
            }
        }
    }
}

footer {
    background: $blue;
    color: #fff; 
    padding: 60px 0;
    font-size: 16px;
    a {
        color: #fff;
    }
}
.footer-top {
    .logo {
        margin-bottom: 25px;
    }
    .desc {
        font-weight: 400;
    }
}
.item-footer {
    h3 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    ul {
        list-style: none;
        li {
            margin-bottom: 6px;
            font-weight: 400;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

section {
    position: relative;
}

.slide-banner {
    position: relative;
}
.caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    background: #00000070;
    color: #fff;
    .info {
        max-width: 920px;
    }
    h1 {
        font-size: 42px;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-family: $druk;
    }
    .desc {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 35px;
    }
}
.btn-banner {
    a {
        display: flex;
        height: 47px;
        justify-content: center;
        align-items: center;
        font-size: 18px;
        font-weight: 500;
        border-radius: 4px;
        padding: 0 30px;
    }
    .btn-hotline {
        color: #fff;
        background: transparent;
        border: 1px solid #fff;
        &:hover {
            color: #333333;
            background: #fff;
        }
    }
    .btn-price {
        background: $yellow;
        color: #333333;
        &:hover {
            background: $oran;
            color: #fff;
        }
    }
} 
.content-ab {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
}
.title {
    margin-bottom: 40px;
    font-family: $druk;
    h2 {
        font-size: 42px;
        font-weight: 500;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        color: $blue;
        position: relative;
        img {
            margin-left: 20px;
        }
        &:after {
            content: "";
            width: 70px;
            height: 8px;
            background: $oran;
            position: absolute;
            top: -20px;
            left: 0;
        }
        &.justify-content-center {
            &:after {
                left: calc(50% - 35px);
            }
        }
    }
    .btn-title {
        img {
            margin-left: 10px;
        }
    }
}
.info-about-home {
    font-size: 22px;
    max-width: 840px;
    text-align: justify;
    p {
        margin-bottom: 15px;
    }
    .desc {
        padding-bottom: 10px;
        color: $blue;
    }
}
.readmore {
    a {
        display: inline-flex;
        align-items: center;
        font-size: 18px;
        color:  $oran;
        img {
            margin-left: 10px;
        }
    }
}
.item-why {
    .numb-why {
        font-size: 72px;
        font-weight: 500;
        line-height: 71px;
        color: rgba(19, 43, 94, 0.05);
        font-family: $druk;
    }
    h3 {
        font-size: 28px;
        font-weight: bold;
        position: relative;
        margin-top: -5px;
        padding-left: 45px;
        margin-bottom: 25px;
        &:after {
            content: "";
            width: 40px;
            height: 4px;
            background: $oran;
            border-radius: 2px;
            position: absolute;
            left: 45px;
            bottom: -15px;
        }
    }
    .desc {
        font-size: 22px;
        color: #5B5E71;
        padding-left: 45px;
    }
}
.list-why {
    .col-md-6 {
        padding: 30px 15px;
    }
}
.box-why { 
    .title {
        margin-bottom: 0;
    }
}
.box-prd-hot {
    background: url('../images/bn-hot.jpg') no-repeat center;
    background-size: cover;
    padding: 65px 0;
    .title {
        padding-top: 20px;
        h2 {
            color: #FFEC3D;
        }
    } 
}
.list-prd-hot {
    .row {
        margin: 0 -20px;
        .col-md-4 {
            padding: 20px;
        }
    }
}
.item-prd-hot {
    background: #fff;
    border-radius: 6px;
    height: 100%;
    padding: 30px;
    transition: .4s all;
    &:hover {
        transition: .4s all;
        background: $oran;
        color: #fff;
        a {
            color: #fff !important;
        }
    }
    h3 {
        a {
            display: block;
            height: 50px;
            overflow: hidden;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }
    }
    .desc {
        height: 72px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .readmore {
        a {
            font-size: 16px;
        }
    }
}  
.slide-event {
    .slick-arrow {
        position: absolute;
        bottom: 0;
        z-index: 2;
        width: 52px;
        height: 52px;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.2);
        outline: none;
        border: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: .6;
        &.next {
            left: calc(50%);
        }
        &.prev {
            left: calc(50% - 52px);
            transform: rotate(180deg);
        }
        &:hover {
            opacity: 1;
        }
    }
}
.event-hot {
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: #0000004d;
        position: absolute;
        left: 0;
        top: 0;
        pointer-events: none;
    }
    .info {
        position: absolute;
        left: 0;
        bottom: -100%;
        z-index: 2;
        color: #fff;
        padding: 20px 80px;
        transition: .4s all;
    }
    h3 {
        a {
            font-size: 34px;
            font-weight: 900;
            text-transform: uppercase;
            margin-bottom: 10px;
            display: block;
            color: #fff;
        }
    }
    .desc {
        margin-bottom: 10px;
        font-weight: 400;
    }
    &:hover {
        .info {
            transition: .4s all;
            bottom: 0;
        }
        .avarta {
            img {
                transition: .8s all;
                transform: scale(1.08);
            }
        }
    }
}

.box-news {
    .readmore {
        padding-top: 20px;
    }
}
.item-new-hot {
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #ebebeb;
    height: 100%;
    .avarta {
        position: relative;
    }
    .info {
        padding: 22px;
    }
    h3 {
        a {
            display: block;
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
    ul {
        margin-bottom: 15px;
        li {
            padding-right: 15px;
            &:last-child {
                padding-right: 0;
            }
            img {
                margin-right: 5px;
            }
        }
    }
    .date {
        position: absolute;
        background: #fff;
        top: 16px;
        left: 16px;
        width: 56px;
        text-align: center;
        border-radius: 5px;
        line-height: .9;
        padding: 10px 0;
        color: #333B69;
        font-size: 18px;
        font-weight: 500;
        span {
            font-size: 10px;
        }
    }
}

.box-partner {
    padding: 50px 0;
    background: #132B5E;
    .title {
        h2 {
            color: #fff;
            &:after {
                display: none;
            }
        }
    }
}
.slide-part {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 60px 0;
}  


// contact
.maps-contact {
    iframe {
        width: 100%;
        height: 460px;
    }
}
.box-contact {
    background: #FFFFFF;
    box-shadow: 0px 30.4762px 60.9524px rgba(61, 65, 84, 0.15);
    border-radius: 8px;
    max-width: 975px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 170px 40px 170px;
    margin-top: -150px;
    .top {
        font-size: 22px;
        margin-bottom: 40px;
        h3 {
            font-size: 22px;
            font-weight: 500;
        }
    }
}
.form-contact {
    .item {
        margin-bottom: 40px;
    }
    label {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
    }
    input {
        width: 100%;
        height: 45px;
        background: #F7F9FA;
        border: 1.52381px solid #D9E3E8;
        box-sizing: border-box;
        border-radius: 7.61905px;
        padding: 0 15px;
    }
    textarea {
        width: 100%;
        height: 155px;
        background: #F7F9FA;
        border: 1.52381px solid #D9E3E8;
        box-sizing: border-box;
        border-radius: 7.61905px;
        padding: 10px 15px;
        outline: none;
    }
    .btn-contact {
        font-size: 22px;
        font-weight: bold;
        color: #fff;
        border: 1px solid $oran;
        background: $oran;
        cursor: pointer;
        &:hover {
            background: #fff;
            color: $oran;
        }
    }
}
// end contact
.breadcrumbs {
    position: relative;
    .avarta {
        position: relative;
        .after {
            position: absolute;
            top: 0;
            opacity: .7;
            width: 100%;
            height: 100%;
        }
    }
    .info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        z-index: 2;
        color: #fff;
        a {
            color: #fff;
        }
        h2 {
            font-size: 42px;
            font-weight: 500;
            font-family: $druk;
            margin-bottom: 15px;
        }
        .desc {
            font-size: 18px;
        }
    }
    ul {
        margin-bottom: 20px;
        li {
            font-size: 14px;
            padding-right: 20px;
            &:last-child {
                padding-right: 0;
            }
            img {
                margin-right: 8px;
            }
        }
    }
    h1 {
        font-size: 32px;
        font-weight: 500;
        line-height: 1.5;
        margin-bottom: 15px;
        font-family: $druk;
    }
}


// video
.item-video {
    background: #F5F6F8;
    border-radius: 5px;
    overflow: hidden;
    .avarta {
        position: relative;
        .play-video {
            position: absolute;
            left: 0;
            top: 0;
            background: #00000099;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            img {
                transform: scale(1) !important;
            }
        }
    }
    .info {
        padding: 15px 20px;
        a {
            display: block;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 5px;
            line-height: 1.5;
        }
        .desc {
            color: #999999;
            font-size: 16px;
        }
    } 
}
.list-video {
    .col-md-4 {
        margin-bottom: 30px;
    }
    .load-more {
        a {
            display: inline-flex;
            height: 47px;
            align-items: center;
            justify-content: center;
            padding: 0 20px;
            border-radius: 4px;
            color: $oran;
            border: 1px solid $oran;
            font-size: 20px;
            &:hover {
                background: $oran;
                color: #fff;
            }
        }
    }
}
.modal-video {
    .modal-dialog {
        max-width: 1000px;
    }
    iframe {
        width: 100%;
    }
}
// end video
.info-subscribe {
    padding: 100px 130px;
    background: url('../images/bn-sub.jpg') no-repeat center;
    background-size: cover;
    border-radius: 6px;
    color: #fff;
    h2 {
        font-size: 40px;
        font-weight: 500;
        font-family: $druk;
        line-height: inherit;
    }
    a {
        display: flex;
        justify-content: center;
        height: 65px;
        align-items: center;
        font-size: 22px;
        font-weight: bold;
        background: $yellow;
        border-radius: 5px;
        &:hover {
            background: #fff;
        }
    }
} 

.list-item-gall {
    .row {
        margin: 0 -12px;
        .col-md-3, .col-md-6 {
            padding: 0 12px;
        }
    }
    .item {
        margin-bottom: 24px; 
        overflow: hidden;
        &:last-child {
            margin-bottom: 0;
        }
        img {
            transition: .8s all;
            &:hover {
                transition: .8s all;
                -webkit-transform: scale(1.07);
                   -moz-transform: scale(1.07);
                    -ms-transform: scale(1.07);
                     -o-transform: scale(1.07);
                        transform: scale(1.07);
            }
        }
    }
}
.item-box-gall {
    margin-bottom: 70px; 
    &:nth-child(2n) {
        .col-md-6 {
            order: 1;
        }
        .col-md-3:nth-child(1) {
            order: 2;
        }
        .col-md-3:nth-child(2) {
            order: 3;
        }
    }
}
.gallary {
    .load-more {
        a {
            display: inline-flex;
            height: 47px;
            font-size: 20px;
            padding: 0 40px;
            border-radius: 5px;
            color: $oran;
            border: 1px solid $oran;
            align-items: center;
            &:hover {
                color: #fff;
                background: $oran;
            }
        }
    }
} 

.social-detail {
    position: sticky;
    top: 20px;
    ul {
        list-style: none;
        li {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.detail-content {
    padding: 70px 0;
}
.detail {
    font-size: 22px;
    color: #6A798C;
    img {
        max-width: 100%;
    }
    p {
        margin-bottom: 20px;
        img {
            padding: 15px 0 25px 0;
        }
        a {
            color: #699aeb;
        }
    }
    h2, h3, h4, h5, h6 {
        color: #333B69;
        margin-bottom: 20px;
    }
}
.tags {
    font-size: 22px;
    padding-top: 20px;
    span {
        color: #333B69;
    }
    a {
        color: #6A798C;
    }
}
.other-news {
    h2 {
        font-size: 32px;
        font-weight: 700;
        color: #333B69;
        margin-bottom: 25px;
    }
    .row {
        margin: 0 -12px;
        .col-md-4 {
            padding: 0 12px;
        }
    }
}
.item-other {
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0px 0px 11px #ddd;
    .info {
        padding: 20px;
        a {
            display: block;
            color: #333B69;
            font-size: 22px;
            font-weight: bold;
            line-height: 1.5;
        }
    }
}
.list-new-cate {
    .col-md-4, .col-md-8 {
        margin-bottom: 30px;
    }
}
.item-new-big {
    border: 0;
    position: relative;
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        background: #00000080;
        position: absolute;
        top: 0;
        left: 0;
    }
    .info {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        color: #fff;
        z-index: 2;
        a {
            color: #fff;
            display: block;
            font-size: 32px;
            font-weight: bold;
            line-height: 1.4;
            margin-bottom: 15px;
        }
    }
}
.pagination {
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border: 1px solid #E8ECED;
        border-radius: 5px;
        background: #fff;
        &.active, &:hover {
            background: #132B5E;
            border: 1px solid #132B5E;
            color: #fff;
        }
    }
}
.title-head {
    margin-bottom: 25px;
    h2 {
        font-size: 48px;
        font-weight: 400;
        color: #132B5E;
        strong {
            font-weight: 700;
        }
    }
}

@import "add.scss";  